In [44]:
from scipy.stats import ttest_1samp
import numpy as np
import pandas as pd
import math
import statsmodels.stats.power as smp

from statsmodels.stats import proportion
from scipy.stats import norm, t, kstest, shapiro
import statsmodels.api as sm
from matplotlib import pyplot as plt


import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [2]:
data = pd.read_csv('a_b test ecom - ab_test 2.csv')

data.head(10)

       id     time  con_treat      page  converted
0  851104  11:48.6    control  old_page          0
1  804228  01:45.2    control  old_page          0
2  661590  55:06.2  treatment  new_page          0
3  853541  28:03.1  treatment  new_page          0
4  864975  52:26.2    control  old_page          1
5  936923  20:49.1    control  old_page          0
6  679687  26:46.9  treatment  new_page          1
7  719014  48:29.5    control  old_page          0
8  817355  58:09.0  treatment  new_page          1
9  839785  11:06.6  treatment  new_page          1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         294478 non-null  int64
 1   time       294478 non-null  object
 2   con_treat  294478 non-null  object
 3   page       294478 non-null  object
 4   converted  294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [4]:
data.shape

(294478, 5)

In [5]:
data.describe()

                  id      converted
count  294478.000000  294478.000000
mean   787974.124733       0.119659
std     91210.823776       0.324563
min    630000.000000       0.000000
25%    709032.250000       0.000000
50%    787933.500000       0.000000
75%    866911.750000       0.000000
max    945999.000000       1.000000

In [6]:
data.con_treat.value_counts()

treatment    147276
control      147202
Name: con_treat, dtype: int64

In [7]:
data.id.nunique()

290584

In [8]:
data_new = data[(data['con_treat'] == 'control')&(data['page'] == 'old_page')|(data['con_treat'] == 'treatment')&(data['page'] == 'new_page')]

In [9]:
data_new.shape

(290585, 5)

In [10]:
data_new.con_treat.value_counts()

treatment    145311
control      145274
Name: con_treat, dtype: int64

In [11]:
k1 = data_new[data_new['con_treat']=='control']['converted'].sum()
k2 = data_new[data_new['con_treat']=='treatment']['converted'].sum()

In [12]:
k1, k2

(17489, 17264)

In [36]:
n1 = data_new[data_new['con_treat']=='control'].shape[0]
n2 = data_new[data_new['con_treat']=='treatment'].shape[0]

In [37]:
n1, n2

(145274, 145311)

In [15]:
z_score, z_pvalue = proportion.proportions_ztest(np.array([k1, k2]), np.array([n1, n2]))

print('Results are ','z_score = %.3f, pvalue = %.3f' %(z_score, z_pvalue))

Results are  z_score = 1.312, pvalue = 0.190

In [16]:
chisq, pvalue, table = proportion.proportions_chisquare(np.array([k1, k2]), np.array([n1, n2]))

print(f'Results are chisq {round(chisq, 3)}, pvalue = {round(pvalue, 3)}')

Results are chisq 1.72, pvalue = 0.19

In [31]:
p1 = data_new[(data_new['con_treat']=='control')&(data_new['converted']==1)]['converted'].sum()
p2 = data_new[(data_new['con_treat']=='treatment')&(data_new['converted']==1)]['converted'].sum()

In [32]:
p1, p2

(17489, 17264)

In [22]:
data_new.head(20)

        id     time  con_treat      page  converted
0   851104  11:48.6    control  old_page          0
1   804228  01:45.2    control  old_page          0
2   661590  55:06.2  treatment  new_page          0
3   853541  28:03.1  treatment  new_page          0
4   864975  52:26.2    control  old_page          1
5   936923  20:49.1    control  old_page          0
6   679687  26:46.9  treatment  new_page          1
7   719014  48:29.5    control  old_page          0
8   817355  58:09.0  treatment  new_page          1
9   839785  11:06.6  treatment  new_page          1
10  929503  37:11.5  treatment  new_page          0
11  834487  37:47.8  treatment  new_page          0
12  803683  05:16.2  treatment  new_page          0
13  944475  31:09.6  treatment  new_page          0
14  718956  45:11.3  treatment  new_page          0
15  644214  05:21.7    control  old_page          1
16  847721  01:00.1    control  old_page          0
17  888545  37:26.3  treatment  new_page          1
18  650559  55:51.1    control  old_page          0
19  935734  33:37.4    control  old_page          0

In [38]:
alpha = 0.05
power = 0.9
n = n1 + n2             # Количество наблюдений.
p_x = k1 / n1           # Конверсии.
p_y = k2 / n2

In [39]:
n, p_x, p_y

(290585, 0.1203863045004612, 0.11880724790277405)

In [42]:
h = 2 * math.asin(np.sqrt(p_x)) - 2 * math.asin(np.sqrt(p_y))
h

0.00486630520161202

In [45]:
power = smp.zt_ind_solve_power(effect_size=h, nobs1=n, alpha=alpha, alternative='two-sided')
power

0.4582313932174602